# set device = control.device
# set did = device.index

<div class="input-group input-group-sm mb-1" id="control-{{did}}-{{control.id}}">
    # if control.type in [ControlType.INTEGER, ControlType.INTEGER64, ControlType.U32, ControlType.U16, ControlType.U8]:
        <span class="input-group-text">{{control.name}}</span>
        <input type="range" class="form-range form-control"
            min="{{control.info.minimum}}"
            max="{{control.info.maximum}}"
            step="{{control.info.step}}"
            value="{{control.value}}"
            name="value"
            hx-post="/camera/{{did}}/control/{{control.id}}"
        >
        <button class="btn btn-outline-secondary" type="button"
            hx-post="/camera/{{did}}/control/{{control.id}}/reset"
            hx-target="#control-{{did}}-{{control.id}}" hx-swap="outerHTML"
        >
            Reset
        </button>
    #elif control.type == ControlType.BOOLEAN:
        <div class="form-check">
            <input type="checkbox" class="form-check-input"
                 value=""
                 id="checkbox-{{did}}-{{control.id}}"
                 hx-post="/camera/{{did}}/control/{{control.id}}/{{"0" if control.value else "1"}}"
                 hx-target="#control-{{did}}-{{control.id}}" hx-swap="outerHTML"
                 {{"checked" if control.value else "" }}
            >
            <label class="form-check-label" for="checkbox-{{did}}-{{control.id}}" >
                {{control.name}} {{control.value}}
            </label>
        </div>
    # else:
    Unsupported control '{{control.name}}' with type {{control.type.name}}
    #endif
</div>
