# set index = camera.device.index
# set name = camera.info.card
# set fmt = camera.capture.get_format()
<div class="card">
    <h5 class="card-header">{{index}} - {{name}}</h5>
    <div class="row g-0">
        <div class="col-md-12 col-lg-8 col-xl-6">
            <div id="stream-{{ index }}">
                <img src="static/cross.png" alt="no video">
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card-body">
                <div class="input-group input-group-sm mb-1" id="frames-{{index}}">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                        name="value"
                        hx-post="/camera/{{index}}/format"
                    >
                    # for ftype in camera.info.frame_sizes:
                        <option value="{{ftype.width}} {{ftype.height}} {{ftype.pixel_format.value}}"
                            # if (fmt.width, fmt.height, fmt.pixel_format) == (ftype.width, ftype.height, ftype.pixel_format)
                            selected
                            # endif
                        >
                            {{ftype.width}}x{{ftype.height}} {{ftype.pixel_format.name}}
                        </option>
                # endfor
                    </select>
                </div>
                # for control in camera.device.controls.values():
                # include "control.html"
                # endfor
                <button type="button" class="btn btn-primary" hx-post="/camera/{{index}}/start" hx-target="#stream-{{index}}">Start</button>
                <button type="button" class="btn btn-danger" hx-post="/camera/{{index}}/stop" hx-target="#stream-{{index}}">Stop</button> 
            </div>
        </div>
    </div>

    </div>
</div>
